.close-modal-btn {
    right: auto;
    left: -0.875rem;
}
.modal-header{
    .btn-close{
       margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto
    }
}