.apexcharts-tooltip-series-group.apexcharts-active, .apexcharts-tooltip-series-group:last-child {
    text-align: right;
    justify-content: right;
}
.apexcharts-tooltip-marker {
    margin-right: 0;
    margin-left: 10px;
}