div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus-visible {
    box-shadow: none;
}
div:where(.swal2-container) div:where(.swal2-actions) {
    margin-top: 0 !important;
}